.sidebar-container{
    background-color:rgb(37, 37, 51);
    height:100vh;
    width:10%;
    display:  block;
    /* border: 1px solid black; */
    float:left;
}
.sidebar-refresh{
    position:absolute;
    bottom:0;
}